<div class="wrapper">
    <div class="header">
        <h1>Загрузчик файлов</h1>
        <p>Здесь вы можете удалить загруженный файл...</p>
    </div>

    <div class="main">
        <div class="delete">
            <form class="delete-form">
                <label>Введите имя файла для удаления</label>
                <input type="text" placeholder="Название файла" name="fileName">
                <label>Введите пароль от файла</label>
                <input type="text" placeholder="Пароль от файла" name="password">
                <button type="submit">Удалить</button>    
            </form>
        </div>
    </div>
</div>